*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --brand-clr: hsl(185, 85%, 40%);
    --bg-primary: hsl(195, 20%, 86%);
    --border-clr: hsl(195, 16%, 82%);
    --accent-blue: hsl(205, 100%, 48%);
    --text-primary: hsl(180, 6%, 38%);
    --text-accent: hsl(195, 2%, 78%);

    --header: 3.5rem;
    --full-width: 100%;
    --padding-space: calc(var(--full-width) - 2rem);
    --max-width: 80rem;
    --min-width: 22.5rem;

    --bd-radius: 0.5em;
    --space-025: 0.25rem;
    --space-05: 0.5rem;
    --space-1: 1rem;
}

a {
    text-decoration: none;

}

body {
    background: linear-gradient(45deg, hsl(185, 26%, 72%), hsl(224, 66%, 82%));
}
.logo {
    max-width: 200px;
  }

  .navbar {
    align-items: center;
    background: #fff;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    font-family: sans-serif;
    padding: 10px 50px;
  }

  ul .list{
    margin: 0px 10px;

  }
  .list a{
    color: black;
    text-decoration: none;
    font-size: 15px;
    font-weight: bolder;
  }
  .push-left {
    margin-left: auto;
  }

  /* Menu */
  .hamburger {
    background: transparent;
    border: none;
    cursor: pointer;
    display: none;
    outline: none;
    height: 30px;
    position: relative;
    width: 30px;
    z-index: 1000;
  }
  @media screen and (max-width: 768px) {
    .hamburger {
      display: inline-block;
    }
  }
  .hamburger-line {
    background: #272727;
    height: 3px;
    position: absolute;
    left: 0;
    transition: all 0.2s ease-out;
    width: 100%;
  }
  .hamburger:hover .hamburger-line {
    background: #777;
  }
  .hamburger-line-top {
    top: 3px;
  }
  .menu-active .hamburger-line-top {
    top: 50%;
    transform: rotate(45deg) translatey(-50%);
  }
  .hamburger-line-middle {
    top: 50%;
    transform: translatey(-50%);
  }
  .menu-active .hamburger-line-middle {
    left: 50%;
    opacity: 0;
    width: 0;
  }
  .hamburger-line-bottom {
    bottom: 3px;
  }
  .menu-active .hamburger-line-bottom {
    bottom: 50%;
    transform: rotate(-45deg) translatey(50%);
  }

  .nav-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    transition: all 0.25s ease-in;
  }




  @media screen and (max-width: 768px) {
    .nav-menu {
      background: #fff;
      flex-direction: column;
      justify-content: center;
      opacity: 0;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform: translatey(-100%);
      text-align: center;
    }
    .menu-active .nav-menu {
      transform: translatey(0%);
      opacity: 1;
    }


  }
  .nav-menu .menu-item a {
    color: #444444;
    display: block;
    line-height: 30px;
    margin: 0px 10px;
    text-decoration: none;
    text-transform: uppercase;
  }
  .nav-menu .menu-item a:hover {
    color: #777777;
    text-decoration: underline;
  }
  @media screen and (max-width: 768px) {
    .nav-menu .menu-item a {
      font-size: 20px;
      margin: 8px;
    }
  }

  .sub-nav {
    border: 1px solid #ccc;
    display: none;
    position: absolute;
    background-color: #7c1313;
    padding: 5px 5px;
    list-style: none;
    width: 230px;
  }
  @media screen and (max-width: 768px) {
    .sub-nav {
      position: relative;
      width: 100%;
      display: none;
      background-color: rgba(0, 0, 0, 0.2);
      box-sizing: border-box;
    }
  }

  .nav__link:hover + .sub-nav {
    display: block;
  }

  .sub-nav:hover {
    display: block;
  }

  .square-service-block{
      position:relative;
      overflow:hidden;
      margin:15px auto;

      }
  .square-service-block a {
    background-color: #e74c3c;
    border-radius: 5px;
    display: block;
    text-align: center;
    width: 100%;
    text-decoration: none;
  }
  .square-service-block a:hover{
    background-color: rgba(231, 76, 60, 0.8);
    border-radius: 5px;
    border: none;
  }

  h2.ssb-title {
    color: #fff;
    font-size: 20px;
    font-weight: 200;
    margin:0;
    padding: 1rem 0rem;
    text-transform: uppercase;
  }
